<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neuvillete</title>
    <link rel="stylesheet" href="../static/a/css/style.css"> 
</head>
<body>
    <nav>
        <a href="../index.html">Inicio</a>
        <a href="/templates/pag_1.html">Aether</a>
        <a href="/templates/pag_2.html">Baizhu</a>
        <a href="/templates/pag_3.html">Neuvillete</a>
    </nav>

    <main>
        <img src="../static\a/img/neuvillete.png" alt="neuvillete" class="logo"
        width="500">
<h2>¿Quién es Neuvillete?</h2>
        <p>
            Neuvillete es uno de los personajes de Genshin Impact, su papel principal es ser juez de la nacion de fountaine, la cual busca la justicia y la igualdad. Neuvillete es conocido por su habilidad para el elemento hydro, aunque manipula el elemento pero sin una vision.

        <h3>¿Qué habilidades tiene Neuvillete?</h3>
        <p>
            Neuvillete tiene la habilidad de manipular el elemento hydro, con su habilidad elemental invoca un pilar de agua el cual hace daño a los enemigos y crea 3 gotas de mar primigenio, su habilidad definitiva ademas de hacer una explosion de daño hydro invoca 6 gotas de mar primigenio.
            las gotas de mar primigenio pueden ser usadas con su ataque cargado para acelerar su casteo y hacer daño hydro con un chorro de agua.
        </p>

    </main>
</body>
</html>