<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baizhu</title>
    <link rel="stylesheet" href="../static/a/css/style.css"> 
</head>
<body>
    <nav>
        <a href="../index.html">Inicio</a>
        <a href="/templates/pag_1.html">Aether</a>
        <a href="/templates/pag_2.html">Baizhu</a>
        <a href="/templates/pag_3.html">Neuvillete</a>
    </nav>

    <main>
        <img src="../static\a/img/Baizhu.png" alt="baizhu" class="logo"
        width="500">
<h2>¿Quién es Baizhu?</h2>
        <p>
            Baizhu es uno de los personajes de Genshin Impact, un juego desarrollado por miHoYo. Es un médico que viaja por Teyvat en busca de curar a sus pacientes. Baizhu es conocido por su habilidad para el elemento dendro, su papel es de un doctor enfermo en busca de la inmortalidad.

        <h3>¿Qué habilidades tiene Baizhu?</h3>
        <p>
            Baizhu tiene la habilidad de manipular el elemento dendro, crea una serpiente elemental la cual hace daño a los enemigos y luego cura. Con su habilidad definitiva, Baizhu crea un escudo el cual protege y cura al personaje en campo.
        </p>

    </main>
</body>
</html>
