<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aether</title>
    <link rel="stylesheet" href="../static/a/css/style.css"> 
</head>
<body>
    <nav>
        <a href="../index.html">Inicio</a>
        <a href="/templates/pag_1.html">Aether</a>
        <a href="/templates/pag_2.html">Baizhu</a>
        <a href="/templates/pag_3.html">Neuvillete</a>
    </nav>

    <main>
        <img src="../static\a/img/aether.png" alt="aether" class="logo"
        width="400">
<h2>¿Quién es Aether?</h2>
        <p>
            aether es uno de los personajes principales de Genshin Impact, un juego desarrollado por miHoYo. Es un viajero que llega a Teyvat en busca de su hermana perdida, Lumine. Aether es conocido por su habilidad para manipular el destino y su papel central en la historia del juego, enfrentándose a diversos desafíos y descubriendo los secretos de Teyvat mientras busca a su hermana.

        <h3>¿Que habilidades tiene Aether?</h3>
        <p>
            Aether al no ser del planeta de teyvat posee la habilidad de manipular todos los elementos.
        </p>

    </main>
</body>
</html>